<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3x3dwsOYsapnRz7muxYEmG08PgZtvo-4</string>
	<key>GCM_SENDER_ID</key>
	<string>95966393253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivan.stripePayment</string>
	<key>PROJECT_ID</key>
	<string>foody-3313d</string>
	<key>STORAGE_BUCKET</key>
	<string>foody-3313d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95966393253:ios:d1c285372ce85aab07ae4c</string>
</dict>
</plist>